/* Remover margem e padding padrão */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  
  /* Lado esquerdo - Formulário de registro */
  .register-left {
    width: 70%; /* 70% do espaço para o formulário */
    background-color: #4c5b5e; /* Fundo similar ao lado direito do login */
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Título principal */
  .register-title {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .title-container{
    margin-bottom: 15px;
  }

  /* Subtítulo */
  .register-subtitle {
    font-size: 1.5rem;
    /* margin-bottom: 2rem; */
    color: white;
    text-align: center;
  }
  
  /* Estilo do formulário */
  .register-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* Espaçamento entre os inputs */
  }
  
  
  /* Estilo dos campos de entrada */
  :is(.login, .create-user) .MuiInputBase-root {
    background-color: #f0f; /* Cor mais escura para os TextFields */
    color: white;
  }
  
  /* Tornar o texto dentro dos campos de entrada mais claro */
  .MuiInputBase-input {
    color: #f0f0f0; /* Cor mais clara para o texto */
  }
  
  /* Alterar cor dos placeholders */
  .MuiInputBase-input::placeholder {
    color: #e0e0e0; /* Placeholder mais claro */
    opacity: 1; /* Garante que o placeholder fique visível */
  }
  
  .MuiInputLabel-root {
    color: rgb(255, 255, 255); /* Cor do label dos campos */
  }
  
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #a0d5c2; /* Cor da borda quando o campo está em foco */
  }
  
  /* Estilo do botão */
  button {
    background-color: #28a745; /* Cor verde para o botão */
    color: white;
    padding: 0.8rem;
    font-size: 1.1rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem; /* Espaçamento acima do botão */
  }
  
  button:hover {
    background-color: #218838; /* Cor do botão quando passar o mouse */
  }
  
  /* Texto do link de login */
  .register-login-text {
    margin-top: 1rem;
    cursor: pointer;
    text-align: center;
    font-size: 0.9rem;
    color: #a0a0a0;
  }
  
  .login-link {
    color: #f9d246; /* Cor do link "Já tem uma conta? Faça login" */
    font-weight: bold;
  }
  
  /* Lado direito - Área vazia */
  .register-right {
    width: 30%; /* 30% do espaço para a área vazia */
    background-color: #a7d8c2; /* Cor de fundo da área vazia */
  }
  