header {
    display: flex;
    background-color: #4c5b5e;
    color: #FFF;
    padding: 16px;

    justify-content: space-between;
    align-items: center;
}

.transaction-container {
    padding: 16px;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.transaction-container > div {
    max-width: 1400px; 
    width: 100%; 
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #a7d8c2;
}