/* Estilos gerais */
body {
  background-color: #a7d8c2; /* Fundo verde claro */
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.transactions-container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 100px; /* Espaço para o cabeçalho fixo */
}

/* Cabeçalho */
.header {
  background-color: #95a5a6; /* Cinza claro */
  position: fixed; /* Fixa o cabeçalho no topo */
  top: 0;
  left: 0;
  width: 100%; /* O cabeçalho ocupa toda a largura da tela */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* Espaça o conteúdo do cabeçalho */
  align-items: center;
  z-index: 100; /* Garante que o cabeçalho fique acima do conteúdo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header2 {
  display: flex;
  align-items: center; /* Alinha os itens verticalmente */
}

/* Botão de Sair */
.logout-button {
  margin-right: 20px; /* Espaço entre o botão e o título */
}

.balance-container {
  flex:content; /* Permite que o saldo ocupe o espaço restante e fique centralizado */
  display: flex;
  justify-content: center; /* Centraliza o conteúdo do saldo */
}

.header-balance {
  color: white;
  font-size: 24px;
  font-weight: bold;

}

/* Tabela */
.table-container {
  margin-top: 20px; /* Espaçamento após o cabeçalho */
  border-radius: 8px;
  overflow: hidden; /* Evita que bordas arredondadas sejam cortadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse; /* Remove espaços entre as células */
}

th, td {
  padding: 16px;
  text-align: center;
  color: #2c3e50; /* Azul escuro */
  border: 1px solid #d1d1d1; /* Bordas suaves */
}

th {
  background-color: #95a5a6; /* Mesma cor do cabeçalho */
  color: white;
}

td {
  background-color: white;
}

td:nth-child(2) {
  font-weight: bold;
  color: #e74c3c; /* Vermelho */
}

td:nth-child(3), td:nth-child(4) {
  font-style: italic;
}

tr:nth-child(odd) {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Alinha itens verticalmente em telas menores */
    text-align: center;
  }

  .transactions-container {
    padding: 10px;
  }
}
